<a href="https://colab.research.google.com/github/KemalRajasa/rsbp/blob/main/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('used_car_clean.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009 entries, 0 to 4008
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         4009 non-null   object
 1   model         4009 non-null   object
 2   model_year    4009 non-null   int64
 3   milage        4009 non-null   int64
 4   fuel_type     4009 non-null   object
 5   engine        4009 non-null   object
 6   transmission  4009 non-null   object
 7   ext_col       4009 non-null   object
 8   int_col       4009 non-null   object
 9   accident      4009 non-null   object
 10  clean_title   4009 non-null   object
 11  price         4009 non-null   object
dtypes: int64(2), object(10)
memory usage: 376.0+ KB

# Transmission

In [ ]:
df['transmission'].unique()

array(['6-Speed A/T', '8-Speed Automatic', 'Automatic', '7-Speed A/T',
       'F', 'A/T', '8-Speed A/T', 'Transmission w/Dual Shift Mode',
       '9-Speed Automatic', '6-Speed M/T', '10-Speed A/T', '9-Speed A/T',
       '5-Speed A/T', '1-Speed A/T', 'Automatic CVT',
       '7-Speed Automatic with Auto-Shift', 'CVT-F', 'M/T',
       '6-Speed Automatic with Auto-Shift', '10-Speed Automatic',
       'CVT Transmission', '4-Speed A/T', '6-Speed Automatic',
       '4-Speed Automatic', '7-Speed M/T',
       '8-Speed Automatic with Auto-Shift', '5-Speed Automatic',
       '8-SPEED AT', '1-Speed Automatic', '5-Speed M/T', 'Manual',
       '6-Speed Manual', 'Variable', '2', '7-Speed Manual',
       'Automatic, 9-Spd 9G-Tronic', 'Automatic, 8-Spd',
       'Automatic, 8-Spd Sport w/Sport & Manual Modes', 'â€“',
       'Auto, 6-Spd w/CmdShft', 'Transmission Overdrive Switch',
       '7-Speed Automatic', 'Automatic, 8-Spd PDK Dual-Clutch',
       'Automatic, 8-Spd M STEPTRONIC w/Drivelogic, Sport & Manual Modes',
       'Automatic, 8-Spd Dual-Clutch', '6-Speed',
       'Single-Speed Fixed Gear', 'Automatic, 10-Spd',
       '2-Speed Automatic', '7-Speed',
       'Automatic, 7-Spd S tronic Dual-Clutch', 'Manual, 6-Spd',
       '6-Speed Electronically Controlled Automatic with O',
       '6 Speed At/Mt', '8-SPEED A/T',
       '10-Speed Automatic with Overdrive', '7-Speed DCT Automatic',
       '9-Speed Automatic with Auto-Shift',
       'SCHEDULED FOR OR IN PRODUCTION', '2-Speed A/T', '6 Speed Mt',
       '8-Speed Manual'], dtype=object)

In [ ]:
def normalize_transmission(transmission):
    if 'A/T' in transmission:
        return 'Automatic'
    elif 'M/T' in transmission:
        return 'Manual'
    elif 'Automatic' in transmission:
        return 'Automatic'
    elif 'Manual' in transmission:
        return 'Manual'
    elif 'CVT' in transmission:
        return 'Automatic'
    elif 'Dual Shift' in transmission:
        return 'Dual Shift'
    elif 'Overdrive' in transmission:
        return 'Dual Shift'
    elif '8-SPEED AT' in transmission:
        return 'Automatic'
    elif '6 Speed At/Mt' in transmission:
        return 'Dual Shift'
    elif 'Auto' in transmission:
        return 'Dual Shift'
    elif 'Mt' in transmission:
        return 'Dual Shift'
    else:
      return;

df['transmission'] = df['transmission'].apply(normalize_transmission)

display(df['transmission'].value_counts())

transmission
Automatic     3212
Dual Shift     408
Manual         372
Name: count, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009 entries, 0 to 4008
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         4009 non-null   object
 1   model         4009 non-null   object
 2   model_year    4009 non-null   int64
 3   milage        4009 non-null   int64
 4   fuel_type     4009 non-null   object
 5   engine        4009 non-null   object
 6   transmission  3992 non-null   object
 7   ext_col       4009 non-null   object
 8   int_col       4009 non-null   object
 9   accident      4009 non-null   object
 10  clean_title   4009 non-null   object
 11  price         4009 non-null   object
dtypes: int64(2), object(10)
memory usage: 376.0+ KB

In [ ]:
cleaned_df = df.dropna()

In [ ]:
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3992 entries, 0 to 4008
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         3992 non-null   object
 1   model         3992 non-null   object
 2   model_year    3992 non-null   int64
 3   milage        3992 non-null   int64
 4   fuel_type     3992 non-null   object
 5   engine        3992 non-null   object
 6   transmission  3992 non-null   object
 7   ext_col       3992 non-null   object
 8   int_col       3992 non-null   object
 9   accident      3992 non-null   object
 10  clean_title   3992 non-null   object
 11  price         3992 non-null   object
dtypes: int64(2), object(10)
memory usage: 405.4+ KB

# Fuel Type

In [ ]:
cleaned_df['fuel_type'].unique()

array(['E85 Flex Fuel', 'Gasoline', 'Hybrid', 'not defined', 'Diesel',
       'Plug-In Hybrid', 'not supported'], dtype=object)

In [ ]:
def normalize_fuel(fuel):
    if 'not supported' in fuel:
      return 'not defined'
    else:
      return fuel;

cleaned_df['fuel_type'] = cleaned_df['fuel_type'].apply(normalize_fuel)

display(cleaned_df['fuel_type'].value_counts())

/tmp/ipython-input-3075801941.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['fuel_type'] = cleaned_df['fuel_type'].apply(normalize_fuel)

fuel_type
Gasoline          3297
not defined        214
Hybrid             192
E85 Flex Fuel      139
Diesel             116
Plug-In Hybrid      34
Name: count, dtype: int64

# Clean Title Status

In [ ]:
def normalize_clean(status):
    if 'not defined' in status:
      return 'No'
    else:
      return status;

cleaned_df['clean_title'] = cleaned_df['clean_title'].apply(normalize_clean)

display(cleaned_df['clean_title'].value_counts())

/tmp/ipython-input-1024596015.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['clean_title'] = cleaned_df['clean_title'].apply(normalize_clean)

clean_title
Yes    3410
No      582
Name: count, dtype: int64

In [ ]:
cleaned_df.to_csv("used_car_final_clean.csv", index=False)